# Desafio Properati - Limpieza de datos - Grupo 3

En este proyecto el desafío es limpiar la base de datos de inmuebles provista por Properati.

El objetivo de la limpieza es dejar listo el dataset para luego poder utilizarlo para hacer regresiones y calcular el valor de nuevas observaciones.

## ¿Cómo lo vamos a hacer?
Decidimos estructurar nuestras tareas en cuatro bloques de trabajo:
* 1: Análisis exploratorio. 
* 2: Normalizar, corregir y rellenar la informacion que lo permita, sin afectar prediciones futuras.
* 3: Quitar todo lo que no nos sirve.
* 4: Calcular las variables dummies y mostrar los resultados.

## 1. Análisis exploratorio

A partir del analisis exploratorio de los datos, ponemos a prueba algunas de las hipótesis que tendremos en cuenta para estandarizar la información. 
En los casos en los que nuestras hipótesis se corroboran, definimos las estrategias que tomaremos para corregir el dataset en el siguiente bloque de trabajo.

In [1]:
# Importo librerias
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib as mpl
import re

# usado para pruebas hechas sobre  las urls de imagenes y link a las publicaciones
import requests 
import hashlib 



from IPython.core.display import HTML
%matplotlib inline

In [2]:
# importo archivo
df = pd.read_csv("properatti.csv")
df.shape

(121220, 26)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121220 entries, 0 to 121219
Data columns (total 26 columns):
Unnamed: 0                    121220 non-null int64
operation                     121220 non-null object
property_type                 121220 non-null object
place_name                    121197 non-null object
place_with_parent_names       121220 non-null object
country_name                  121220 non-null object
state_name                    121220 non-null object
geonames_id                   102503 non-null float64
lat-lon                       69670 non-null object
lat                           69670 non-null float64
lon                           69670 non-null float64
price                         100810 non-null float64
currency                      100809 non-null object
price_aprox_local_currency    100810 non-null float64
price_aprox_usd               100810 non-null float64
surface_total_in_m2           81892 non-null float64
surface_covered_in_m2         101313 non-null float64
price_usd_per_m2              68617 non-null float64
price_per_m2                  87658 non-null float64
floor                         7899 non-null float64
rooms                         47390 non-null float64
expenses                      14262 non-null float64
properati_url                 121220 non-null object
description                   121218 non-null object
title                         121220 non-null object
image_thumbnail               118108 non-null object
dtypes: float64(13), int64(1), object(12)
memory usage: 24.0+ MB

In [4]:
df.describe()

,Unnamed: 0,geonames_id,lat,lon,price,price_aprox_local_currency,price_aprox_usd,surface_total_in_m2,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses
count,121220.000000,1.025030e+05,69670.000000,69670.000000,1.008100e+05,1.008100e+05,1.008100e+05,81892.000000,101313.000000,68617.000000,8.765800e+04,7899.000000,47390.000000,1.426200e+04
mean,60609.500000,3.574442e+06,-34.626210,-59.266290,4.685259e+05,4.229397e+06,2.397006e+05,233.795328,133.050181,2160.086916,6.912216e+03,17.452336,3.080840,5.009234e+03
std,34993.344153,3.541306e+05,1.980936,2.299922,2.260101e+06,6.904714e+06,3.913239e+05,1782.222147,724.351479,2759.288621,2.837864e+04,120.243621,1.860773,1.204403e+05
min,0.000000,3.427208e+06,-54.823985,-75.678931,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.600000,1.510204e+00,1.000000,1.000000,1.000000e+00
25%,30304.750000,3.430234e+06,-34.669065,-58.727040,1.100000e+05,1.583309e+06,8.973388e+04,50.000000,45.000000,1218.181818,1.550000e+03,1.000000,2.000000,1.000000e+03
50%,60609.500000,3.433910e+06,-34.597985,-58.480128,1.850000e+05,2.558452e+06,1.450000e+05,84.000000,75.000000,1800.000000,2.213115e+03,3.000000,3.000000,2.000000e+03
75%,90914.250000,3.836668e+06,-34.441299,-58.395908,4.200000e+05,4.675792e+06,2.650000e+05,200.000000,150.000000,2486.411765,3.355549e+03,6.000000,4.000000,4.000000e+03
max,121219.000000,6.948895e+06,4.545843,-53.733330,6.500000e+08,8.212711e+08,4.654544e+07,200000.000000,187000.000000,206333.333333,4.000000e+06,3150.000000,32.000000,1.000150e+07

In [5]:
#Obtenemos los porcentajes de datos faltantes de cada columna
for cols in df.columns:
    nulos = df[cols].isnull().sum()
    porcentaje = nulos/len(df)
    print(f'{porcentaje*100:.0f}%', cols)

0% Unnamed: 0
0% operation
0% property_type
0% place_name
0% place_with_parent_names
0% country_name
0% state_name
15% geonames_id
43% lat-lon
43% lat
43% lon
17% price
17% currency
17% price_aprox_local_currency
17% price_aprox_usd
32% surface_total_in_m2
16% surface_covered_in_m2
43% price_usd_per_m2
28% price_per_m2
93% floor
61% rooms
88% expenses
0% properati_url
0% description
0% title
3% image_thumbnail

### Trabajos exploratorios con la superficie de las propiedades:

##### Trabajo  sobre m2 en superficie total y superficie cubierta con valores invertidos:

In [6]:
# Buscamos los casos en los que la superficie total es menor que la superficie cubierta.
print("Muestra de M2 con superficie total menor que superficie cubierta")
display(df.loc[(df.surface_total_in_m2 < df.surface_covered_in_m2),["surface_total_in_m2","surface_covered_in_m2"]].sample(5))


#Suponemos que los valores de las columnas de superficie total y superficie cubierta pueden estar invertidos por error. 
#Estimamos la división de uno sobre otro para calcular la media de esta diferencia que nos permita corroborar nuestra hipótesis.
df['cubierta_sobre_total'] = df['surface_total_in_m2']/ df['surface_covered_in_m2'] 
df['total_sobre_cubierta'] = df['surface_covered_in_m2']/ df['surface_total_in_m2']
df['valores_invertidos'] = df['surface_covered_in_m2'] < df['surface_total_in_m2']

#Dropeamos los valores iguales para que no afecten el promedio.
#Observamos que son valores similares y que por lo tanto nos permiten asumir que los valores de ambas columnas fueron invertidos.
print("Resumen de la media de la relacion de variables sobre M2 (valores invertidos y no invertidos)")
display(
    df.drop(df.loc[df['surface_total_in_m2'] == df['surface_covered_in_m2']].index)\
    [["valores_invertidos","total_sobre_cubierta","cubierta_sobre_total"]].groupby(['valores_invertidos']).mean()
)

# Por esto decidimo invertir los valores de las columnas de superficie total y superficie cubierta en aquellos casos que la primera es inferior a la segunda

Muestra de M2 con superficie total menor que superficie cubierta

       surface_total_in_m2  surface_covered_in_m2
6918                 100.0                  130.0
65225               1000.0                 1100.0
23829                 60.0                  120.0
33266                463.0                  580.0
55249                381.0                  436.0

Resumen de la media de la relacion de variables sobre M2 (valores invertidos y no invertidos)

                    total_sobre_cubierta  cubierta_sobre_total
valores_invertidos
False                           5.471169              0.696969
True                            0.737385                   inf

##### Trabajo sobre m2 en superficie total y superficie cubierta según tipo de propiedad:

In [17]:
#Contamos los casos que tienen una superficie total inferior a superficie cubierta según tipo de propiedad.
print ('Casos con superifice total inferior a superficie cubierta por tipo de propiedad')
display (df.loc[(df.surface_total_in_m2 < df.surface_covered_in_m2)]['property_type'].value_counts())

print ('--------------')

#Contamos casos segun tipo de propiedad para obtener relacion porcentual. Concluimos que no es una variable significativa para etsa relación.
print ('Casos totales por tipo de propiedad')
display (df['property_type'].value_counts())

Casos con superifice total inferior a superficie cubierta por tipo de propiedad

house        666
apartment    351
store         47
PH            42
Name: property_type, dtype: int64

--------------
Casos totales por tipo de propiedad

apartment    71065
house        40268
PH            5751
store         4136
Name: property_type, dtype: int64

##### Trabajo  para completar m2 a partir del valor de la propiedad y del valor por metro:

In [ ]:
# Solo puedo averiguar mi incognita si tengo metros y valor por metro
# ejemplo: x = df['price_aprox_usd']/df['price_usd_per_m2']

#Buscamos las diferentes combinaciones
print("USD, Con Precio y PPM USD pero sin M2: {}".format(
    df.loc[(~df["price_aprox_usd"].isnull()) & (~df["price_usd_per_m2"].isnull()) & (df["surface_total_in_m2"].isnull()),"operation"].count()
))
print("ARS, Con Precio y PPM ARS pero sin M2: {}".format(
    df.loc[(~df["price_aprox_local_currency"].isnull()) & (~df["price_per_m2"].isnull()) & (df["surface_total_in_m2"].isnull()),"operation"].count()
))
print("Con Precio default y PPM default pero sin M2: {}".format(
    df.loc[(~df["price"].isnull()) & (~df["price_per_m2"].isnull()) & (df["surface_total_in_m2"].isnull()),"operation"].count()
))
print("Con Precio default y PPM USD pero sin M2: {}".format(
    df.loc[(~df["price"].isnull()) & (~df["price_usd_per_m2"].isnull()) & (df["surface_total_in_m2"].isnull()),"operation"].count()
))

# Hipotesis refutada, no sirve para obtener nuevos datos

##### Trabajo para completar m2 a partir de valores útiles en título y descripción:

In [32]:
#Creamos una regex  y la corremos en titulo y en descripcion para ver que encuentra
pattern= r'([\.\d]{2,99}) (?!m²|m2|mt|metro)'
m2ExtractedFromTitle=df.loc[df["surface_total_in_m2"].isnull(),'title'].str.extract(pattern, re.IGNORECASE)
m2FromDescription=df.loc[df["surface_total_in_m2"].isnull(),'description'].str.extract(pattern, re.IGNORECASE)

# Imprimir resumen resultados
print("Valores en columna titulo: {}".format(m2ExtractedFromTitle.dropna().describe().loc["count",0]))
print("Valores en columna descripcion: {}".format(m2FromDescription.dropna().describe().loc["count",0]))


# Imprimir lo encontrado en titulo.
df["m2Extracted"] = m2ExtractedFromTitle
for index,x in df.iloc[m2ExtractedFromTitle.dropna().index].loc[:,["title","m2Extracted"]].iterrows():
    print("\r Found: {}  \t Title: {}  ".format(x["m2Extracted"],x["title"]))

    
# Dropeamos columna temporal
df.drop("m2Extracted",axis=1,inplace=True)

#Tras revisar los resultados, hay muchas informacion falsa y no es confiable

Valores en columna titulo: 961
Valores en columna descripcion: 7440
 Found: 36  	 Title: VENTA Depto 2 dorm. a estrenar 7 e/ 36 y 37
 Found: 7637  	 Title: WHITE 7637 - 2 DORMITORIOS CON PATIO
 Found: 237  	 Title: EXCELENTE | MENDOZA 237 | MTS PLAZA COLO
 Found: 300  	 Title: Rosario - San Nicolas 300 - Venta Deptos 1 Dor estrenar Escalera - InmGazze
 Found: 3400  	 Title: Rosario - Tucuman 3400 - Venta Dptos 1 Dormitorio en construcción - InmGazze
 Found: 3400  	 Title: Rosario - Tucuman 3400 - Venta Dptos 2 Dormitorios en construcción - InmGazze
 Found: 505  	 Title: 7 e/505 y 506
 Found: 1431  	 Title: Calle 8 1431 (61 y 62)  1400
 Found: 135  	 Title: 135 e/ 531 y 32
 Found: 62  	 Title: 62 e/ 12 y 13 800
 Found: 27  	 Title: ITALIA Y 27 FEBRERO INSUPERABLE CASA 2 DORMIT. PATIO PARRILLERO TERRAZA 86 MTR2
 Found: 12  	 Title: GARITA 12 SALIDA A 2 CALLES Y RUTA 9 MODERNA  CASA SOBRE 1600mt.2 TERRENO
 Found: 14  	 Title: FUNES GARITA 14 CASA 3 DORMITORIOS SUITE
 Found: 9335  	 Title: 9335 - Hipocampo Nº 736
 Found: 2366  	 Title: Calle 9  2366 (e/ 80y 81)  00
 Found: 9118  	 Title: 9118 - Status Tower
 Found: 260.000  	 Title: U$D 260.000 - Casa en Venta -
 Found: 900.000  	 Title: $ 900.000 - Departamento en Venta - Balcarce     500
 Found: 3.000.000  	 Title: $ 3.000.000 - Casa en Venta - Moreno     800
 Found: 1.750.000  	 Title: $ 1.750.000 - Departamento en Venta - Bolívar     300
 Found: 88.000  	 Title: U$D 88.000 - Casa en Venta - Ratti     1500
 Found: 900.000  	 Title: $ 900.000 - Departamento en Venta - La Rioja     495
 Found: 1.200.000  	 Title: U$D 1.200.000 - Departamento en Venta - Santa Fe     850
 Found: 130.000  	 Title: U$D 130.000 - Casa en Venta - Ameghino     200
 Found: 110.000  	 Title: U$D 110.000 - Casa en Venta - Avenida 100   S/N
 Found: 1.900.000  	 Title: $ 1.900.000 - Casa en Venta -
 Found: 1.234.567  	 Title: U$D 1.234.567 - Casa en Venta - Belgrano     200
 Found: 123.456.789  	 Title: U$D 123.456.789 - Casa en Venta - Belgrano     300
 Found: 170.000  	 Title: U$D 170.000 - Casa en Venta -
 Found: 550.000  	 Title: U$D 550.000 - Casa en Venta - Rio Dulce     844
 Found: 109.000  	 Title: U$D 109.000 - Departamento en Venta -    S/N
 Found: 88.000  	 Title: U$D 88.000 - Departamento en Venta - Alte. Brown     269
 Found: 345.435  	 Title: U$D 345.435 - Casa en Venta - Rivadavia     5500
 Found: 1.234  	 Title: U$D 1.234 - Departamento en Venta - Directorio     750
 Found: 65.000  	 Title: U$D 65.000 - Departamento en Venta - W. Tata     4500
 Found: 280.000  	 Title: U$D 280.000 - Casa en Venta - Belén De Escobar   S/N
 Found: 170.000  	 Title: U$D 170.000 - Casa en Venta - Bulnes     1800
 Found: 79.500  	 Title: U$D 79.500 - Departamento en Venta - Andrade     600
 Found: 120.000  	 Title: U$D 120.000 - Departamento en Venta - Luis Maria Campos     4800
 Found: 70.000  	 Title: U$D 70.000 - Departamento en Venta - Lacroce   S/N
 Found: 120.000  	 Title: U$D 120.000 - Casa en Venta - Marcos Paz     1115
 Found: 104.000  	 Title: U$D 104.000 - Departamento en Venta - Av Argentina     4400
 Found: 350.000  	 Title: U$D 350.000 - Casa en Venta - Faraday      1300
 Found: 200.000  	 Title: U$D 200.000 - Casa en Venta - Celso Barrios      3600
 Found: 58  	 Title: U$D 1 - Departamento en Venta - Ruta 58 Km 4   S/N
 Found: 58  	 Title: U$D 1 - Departamento en Venta - Ruta 58 Km 4   S/N
 Found: 170.000  	 Title: U$D 170.000 - Casa en Venta - Gobernador Damico     1700
 Found: 58.000  	 Title: U$D 58.000 - Departamento en Venta - Colonia     3000
 Found: 58  	 Title: U$D 1 - Casa en Venta - Ruta 58 Km 17   S/N
 Found: 136.000  	 Title: U$D 136.000 - Departamento en Venta -    S/N
 Found: 82.000  	 Title: U$D 82.000 - Departamento en Venta -    S/N
 Found: 55.000  	 Title: U$D 55.000 - Departamento en Venta -
 Found: 75.000  	 Title: U$D 75.000 - Tipo casa PH en Venta - San Juan     4216
 Found: 55.000  	 Title: U$D 55.000 - Departamento en Venta - Entre Rios     700
 Found: 240.000  	 Title: U$D 240.000 - Casa en Venta - Alta Gracia     1500
 Found: 90.000  	 Title: U$D 90.000 - Casa en Venta - Ecuador     1500
 Found: 94.000  	 Title: U$D 94.000 - Casa en Venta - Domingo F Sarmiento     900
 Found: 300.000  	 Title: U$D 300.000 - Negocio Especial en Venta - Tucuman     1500
 Found: 230.000  	 Title: U$D 230.000 - Casa en Venta - Finochietto     400
 Found: 82.000  	 Title: U$D 82.000 - Local en Venta - Cnel Brandsen     700
 Found: 45.000  	 Title: U$D 45.000 - Casa en Venta - Gral Angel Pacheco     1500
 Found: 200.000  	 Title: U$D 200.000 - Casa en Venta - Carlos Calvo     1557
 Found: 110.000  	 Title: U$D 110.000 - Casa en Venta - Nicolas Repetto     3754
 Found: 61  	 Title: VENTA DPTO UN DORM 61 ENTRE 10 Y 11
 Found: 30  	 Title: 30 e/47 y 48 Depto. 2 dormitorios
 Found: 2100  	 Title: Paraguay 2100 , financiacion, un dormitorio!
 Found: 10  	 Title: Ituzaingó norte: excelente ph 3 amb. 10 c/estación
 Found: 15  	 Title: 15 1200
 Found: 1868  	 Title: Vendo casa con quincho y pileta. Alte. Brown 1868 - Coronda
 Found: 663  	 Title: 663 e/9 y 10 Casa
 Found: 4362  	 Title: Jorge Goapper Propiedades MP 04-4362 VENDE EN BELL VILLEEXCELENTE PROPIEDAD DE 2 PLANTAS  sobre calle Ameghino a pocas cuadras del centro,  3 dormitorios,  2 baños ,  living – comedor , cocina  ..
 Found: 526  	 Title: 526 e/ 15 y 16 Casa de 3 dormitorios en Tolosa
 Found: 48  	 Title: EMPRENDIMIENTO CHOPIN EN 48 CUOTAS
 Found: 48  	 Title: EMPRENDIMIENTO M.T.de ALVEAR EN 48 CUOTAS
 Found: 40  	 Title: 40 e/8 y 9
 Found: 56  	 Title: calle 56 e 22 y 23 1300
 Found: 24  	 Title: 24 entre 60 y 61  1300
 Found: 63  	 Title: 63 Nº 672 1/2 E/8 Y 9 672 100
 Found: 43  	 Title: 43 e 10 y 11
 Found: 1256  	 Title: EN VENTA CASA LISTA PARA ENTRAR COMO NUEVA EN CALLE JUVENILLA 1256
 Found: 2600  	 Title: Rosario - San Juan 2600 - Venta Deptos 1 Dor balcón terraza - De pozo - InmGazze
 Found: 14  	 Title: Casa Funes garita 14 , 1700m2 terreno!
 Found: 455.  	 Title: VENTA SUIPACHA 455. MEDICINA.  MONO AMBIENTE CON TERRAZA EXCLUSIVA
 Found: 4300  	 Title: LA PAMPA 4300 AIR PAMPA POZO EN PESOS
 Found: 4315  	 Title: LA PAMPA 4315 Exclusivo Desarrollo en Pesos
 Found: 200  	 Title: CASA EN VENTA BARILOCHE - KM 5,200 - INVERSIÓN
 Found: 45  	 Title: BALCARCE 45 B00
 Found: 500  	 Title: Crespo 500 00
 Found: 2100  	 Title: Rosario - Paraguay 2100 - Venta Deptos 1 Dor en construcción - InmGazze
 Found: 53  	 Title: Monoambiente con patio al pozo  : Av. Alberdi 53 Bis
 Found: 242  	 Title: DEPARTAMENTO CON GAS DE 2 DORMITORIOS Y COCHERA EN VENTA - ARRASTUA 242 - ZONA HOTEL EL FARO
 Found: 210  	 Title: RINCON DEL SOL 210 2° PISO
 Found: 205  	 Title: RINCON DEL SOL 205 2° PISO
 Found: 1000  	 Title: Excelente departamento Dos dormitorios,Rodriguez 1000 con cochera!
 Found: 403  	 Title: RINCON DEL SOL 403 4° PISO
 Found: 115  	 Title: RINCON DEL SOL SUITE 115 1° PISO CON COCHERA
 Found: 10  	 Title: CHALET 3 AMB LOTE PROPIO 10 X 43
 Found: 3183  	 Title: 3183 - Maromar Entre Piso
 Found: ...  	 Title: DTOS 2 y 3 AMB + COCHERAS CUB y DESC... "CONSULTE FINANCIACION"
 Found: ...  	 Title: DTOS 2 y 3 AMB + COCHERAS CUB y DESC... "CONSULTE FINANCIACION"
 Found: ...  	 Title: DTOS 2 y 3 AMB + COCHERAS CUB y DESC... "CONSULTE FINANCIACION"
 Found: ...  	 Title: DTOS de 1,2 y 3 AMB +TERRAZA EXCLUSIVA + COCHERAS CUB y DESC... "CONSULTE FINANCIACION"
 Found: ...  	 Title: DTOS de 1,2 y 3 AMB +TERRAZA EXCLUSIVA + COCHERAS CUB y DESC... "CONSULTE FINANCIACION"
 Found: ...  	 Title: DTOS de 1,2 y 3 AMB +TERRAZA EXCLUSIVA + COCHERAS CUB y DESC... "CONSULTE FINANCIACION"
 Found: 1159  	 Title: 1159 - Tres Carabelas 878
 Found: 15.  	 Title: Espectacular 5 dormitorios Garita 15. FUNES
 Found: 518  	 Title: 8 y 518 Duplex a Estrenar
 Found: 18  	 Title: VENTA PH DOS DORM 18 Y 51
 Found: 1889  	 Title: Rosario - Colon 1889 - Venta Departamentos 1 Dor - InmGazze
 Found: 3210  	 Title: 3210 - Valle Fertil Nº346 1º C
 Found: 1208  	 Title: 1208 - Poseidon 328
 Found: 200  	 Title: NVA CORDOBA VENTA DEPARTAMENTOS 1 DORM AV PUEYRREDON 200 DESDE  $ 1.201.000 A ESTRENAR
 Found: 1673  	 Title: 5 1673 100
 Found: 15  	 Title: 15 11900
 Found: 32  	 Title: LOCAL SOBRE AV RIVADAVIA DE 866X32 , CON ENTREPISO, SERVICIOS Y DEPOSITO, 4 OFICINAS DE 32 M2 CON BAÑO Y FOT X VOLUMEN
 Found: 2.50  	 Title: 866X17.67, R2AII, FOT 2.50 X A, 530 M2 CONST
 Found: 40  	 Title: CASA LOTE 8X40 3 AMB C/JARDíN, C/PISCINA DEVOTO
 Found: 2600  	 Title: VENTA CASA sobre M.Candiotti 2600 S.Tome APTA CRED
 Found: 1211  	 Title: 1211 - Casa Nolo`s
 Found: 1100  	 Title: Lamadrid al 1100 en Pozo
 Found: 200  	 Title: Lamadrid al 200 en Pozo
 Found: 200  	 Title: Lamadrid 200 En Pozo
 Found: 45  	 Title: casa en venta km. 45
 Found: 2325  	 Title: Depto en Venta Calle 4 n 2325 1º Piso San Clemente del Tuyu
 Found: 44  	 Title: Depto en Venta Calle 44 nº 1548 1º Piso San Clemente del Tuyu
 Found: 1894  	 Title: Depto en Venta Calle 7 nº 1894 San Clemente del Tuyu
 Found: 43  	 Title: Depto en Venta Calle 43 n 1475 PB San Clemente del Tuyu
 Found: 27  	 Title: 27 DE FEBRERO 1500
 Found: 27  	 Title: 27 DE FEBRERO  2100
 Found: 58  	 Title: 58 1000
 Found: 10  	 Title: DEPARTAMENTO   A 10 CUADRAS DEL CENTRO
 Found: 300  	 Title: Cumelén Country Club, 300 m costa de Lago, 14.359m
 Found: .1  	 Title: Preventa de departamento financiado.1 dorm
 Found: .1  	 Title: Preventa de departamento financiado.1 dorm
 Found: .1  	 Title: DEPARTAMENTO TIPO DUPLEX.1 DORMITORIO AL FRENTE
 Found: 2235  	 Title: DEPARTAMENTO DE 2 AMB. AV. DE LOS TRABAJADORES 2235 1º C
 Found: 2235  	 Title: DEPARTAMENTO DE 3 AMB. AV. DE LOS TRABAJADORES 2235 1º b
 Found: 1900  	 Title: ALBERTI 1900 - HOTEL BOUTIQUE + LOCAL
 Found: 2018  	 Title: VENTA. ENTREGA MAYO 2018 MONO AMBIENTE 1 y 2 DORMITORIOS.
 Found: 1484  	 Title: // VENTA // departamento - COLOMBRES 1484 BIS
 Found: 45  	 Title: 45 700
 Found: 421  	 Title: RINCON DEL SOL  421 4° PISO
 Found: 45  	 Title: Departamento en construcción entrega en 45 dias
 Found: 465  	 Title: Duplex en Venta en Avenida VII nº 465 San Clemente del Tuyu
 Found: 68  	 Title: Duplex en Venta Calle 68 nº 550 San Clemente del Tuyu
 Found: 950  	 Title: N Cba Oport 1 dor externo $950 Mil
 Found: 11  	 Title: CALLE 11 Frezno/Algarrobo 00
 Found: 261.  	 Title: CALLE 28, 261. (37 y 38) 200
 Found: 1975  	 Title: ### EXCELENTE DUPLEX EN VENTA / CONDOMINIO BELGRANO 1975 / OBRA EN POZO ###
 Found: 1700  	 Title: Departamento 2 Ambientes - Colon 1700 - Apto Credito
 Found: 2900  	 Title: Diagonal Pueyrredon 2900 - Centro - Mar del Plata
 Found: 4362  	 Title: Jorge Goapper Propiedades MP 04-4362 VENDE EN BELL VILLEPropiedad ubicada en calle Libertad 129,  2  dormitorios, 2 baños, living con hogar, cocina, amplio comedor, lavadero, garaje, patio, galería
 Found: 11  	 Title:   CASA RUTA 11 CORONDA
 Found: 1800.  	 Title: FIDEICOMISO NECOCHEA 1800. ENTREGA JUNIO 2019.
 Found: 27  	 Title: Calle 27 Manzana F lote 16 00
 Found: 28  	 Title: 28 esq. 470 Duplex
 Found: 2.  	 Title: VENDO HERMOSA CASA CON PILETA 1.000 M2. $2.700.000
 Found: 413  	 Title: 413 e/451 y 452
 Found: 16  	 Title: 16 e/45 y 46 Depto. 1 dorm.
 Found: 16  	 Title: 16 e/45 y 46 Depto. Monoambiente
 Found: 700.  	 Title: IDEAL INVERSIÓN - DEPTO DE 1 DORMITORIO EN GENERAL PAZ CON EXCELENTE RENTA - 2 BALCONES - COCINA SEPARADA - BAÑO ZONIFICADO - EDIFICIO CON COCHERAS, PILETA Y SUM. LIMA AL 700. IMPERDIBLE!!!
 Found: 683.  	 Title: calle 18, 683. (45 y 46) 600
 Found: 42  	 Title: PLAZA PASSO, 42   00
 Found: 113.  	 Title: PISO- San Martin 113. Edificio
 Found: 45  	 Title: Balcarce 45 b00
 Found: 9.30  	 Title: Departamento sobre Avenida Costanera, San Bernardo, bajas expensas.-HORARIO DE ATENCION: Lunes a viernes 9.30 a 16 hs.-TELEFONOS:  Y  O AL 15-
 Found: 139  	 Title: 139 E/ 50 Y 52 900
 Found: 24  	 Title: DEPARTAMENTO DOS AMB.FINANC 18/24 CUOTAS
 Found: 246.  	 Title: VENTA DEPARTAMENTO. Corona Martinez 246. Barrio Rio Atuel
 Found: 1400  	 Title: Rosario - Balcarce 1400 - Venta Departamentos 1 Dor en Construcción - InmGazze
 Found: 300.000  	 Title: Casa 4 Amb. Financia $300.000 Y Cuotas!! Moreno
 Found: 24  	 Title: DOS AMBIENTES EN IMPERDIBLE COMPLEJO CON PISCINA, LAUNDRY, JARDIN PARA NIÑOS, SUM Y SEG LAS 24 HS , SOBRE AV JUAN B ALBERDI , UNIDAD IMPECABLE AL FRENTE
 Found: 32  	 Title: calle 4 e/ 32 y 33 00
 Found: 673  	 Title: Nºref: 673 -Hermosa casa en el centro de Santa Maria de Punilla con vista increible a las si
 Found: 14  	 Title: HERMOSA CASA EN VENTA VILLA EL SOL EX KM 14 1/2
 Found: 1700  	 Title: 1 de mayo 1700
 Found: 1225  	 Title: DORADO 1225 UF2
 Found: 48  	 Title: Av. 1 e/ 48 y 49. Lote para Emprendimiento
 Found: 2019  	 Title: EN POZO ENTREGA 2019 -2 AMB, DORM.(1 SUITE), TOIL.
 Found: 524  	 Title: 524 e/ 117 y 118 - CASA + DUPLEX EN BLOCK - TOLOSA
 Found: 2700  	 Title: Planta Alta en Crespo 2700 a Mtrs. de la Peatonal
 Found: 58  	 Title: 58 e/29 y 30 Dpto. 3 Dorm. c/Cochera
 Found: .1  	 Title: Preventa de departamento financiado.1 dormitorio
 Found: 10  	 Title: camino a regatas entrada N°10 00
 Found: 27  	 Title: 27 e/ 43 y 44 500
 Found: 17  	 Title: 17 400
 Found: 45  	 Title: 45 500
 Found: 850  	 Title: Cofico 1 dormit externo $850 Mil
 Found: 2017.  	 Title: Dptos en Rosario. Llave en mano, 2017. Inversión asegurada.
 Found: 10  	 Title: CHALET 4 Dorm. LOTE 10 x 40 mts.
 Found: 8.66  	 Title: PH 3 amb. en planta baja a reciclar s/lote 8.66 x 50 Mts !!! Gran fondo libre !!!
 Found: 200  	 Title: CENTRO - AV. VELEZ SARSFIELD 200 - VENDO
 Found: 3.46  	 Title: CASA EN MUY BUEN ESTADO , GARAGE, PATIO , COCINA Y BAÑO COMPLETO , DOS DORMITORIOS , TERRAZA , A METROS DE AV RIVADAVIA . LOTE CON FOT 3.46 !!!
 Found: 60  	 Title: Un local con doble acceso de 6,60 x 4 c/2 baños sobre lote de 8,66 x 43,30
 Found: 2.  	 Title: Dto 5/6 ambientes. Mucha Luz 109 m2. Pasaje La Piedad . Linea B. Estac Uruguay
 Found: 2.  	 Title: APTO CREDITO / PROF . Monoamb Balcon al Frente 47 m2. Linea D. Estac Juramento
 Found: 409  	 Title: VENDO CASA - LAVALLE Nº 409 - GÁLVEZ 00
 Found: 11  	 Title: Regimiento 11 1434
 Found: 25  	 Title: 25 ha.  - CAMPO en GALISTEO
 Found: 900  	 Title: ZONA TRIBUNALES, DEPARTAMENTO UN DORMITORIO, ALTURA DUARTE QUIROZ AL 900 SOBRE PASAJE
 Found: 2018  	 Title: 2/3/4 Amb. Edificio Plaza Alberti. Noviembre 2018 .Linea D. Estacion Congreso
 Found: 200  	 Title: ALTA CORDOBA DEPTO BEDOYA AL 200 MB!
 Found: 67  	 Title: Casa en esquina 67 y 154 en Los Hornos
 Found: 204  	 Title: Casa en Venta Bariloche - B° 204 viviendas
 Found: 10  	 Title: Lote de 10 x 62 con pileta y quincho
 Found: 2248  	 Title: Suipacha 2248
 Found: 36  	 Title: VENTA PH DE DOS DORMITORIOS 36 ENTRE 11 Y 12
 Found: 65  	 Title: Dpto en 65 entre 2y 3
 Found: 1500  	 Title: Semipisos un dormitorio Jujuy 1500 financiación !
 Found: 25  	 Title: CAMPO 25 HAS - COLONIA ELIA - ENTRE RÍOS . Campo en Venta.
 Found: 1700  	 Title: BELGRANO O´higgins 1700 Semipiso tot. externo
 Found: 1133  	 Title: Sgto Cabral 1133 Oeste-Catalina del Bono 1128 O-
 Found: 60  	 Title: 60 1300
 Found: 10  	 Title: Complejo de 10 departamentos de 2 ambientes. gas natural. y tdos los servicios.???????ideal para inversion de rentas.
 Found: 1100  	 Title: Moreno 1100 , dos dormitorios con cochera!
 Found: 557  	 Title: SUPER IMPORTANTE . Recomenda a un amigo . IMPERIO INMOBILIARIA Mza557 .CCPIM  MAT.PROF.518
 Found: 45  	 Title: 45 Nº 1129 E/17 Y 18 1100
 Found: 1927  	 Title: Vendo Casa local y galpon - Av. Presidente Perón 1927 - Coronda 00
 Found: 250  	 Title: Diaz Velez  250 b00
 Found: 5012  	 Title: 5012 -  Oficina Nº 11
 Found: 950.000  	 Title: VENDO CASA EXCELENTE OPORTUNIDAD, EN PERFECTAS CONDICIONES $950.000 - (Ref. #197828)
 Found: 1400  	 Title: Rosario - Balcarce 1400 - Venta Monoambientes en Construcción - InmGazze
 Found: 12  	 Title: 12 1000
 Found: 1100  	 Title: Rosario - Entre Rios 1100 - Venta Dos Dor 54 m2 + Cochera Inmobiliaria Gazze
 Found: 51  	 Title: Calle 51 Entre Calles 48 y 49 San Clemente del Tuyu
 Found: 343  	 Title: VENTA: Depto Edificio Alem 343 Planta Baja
 Found: 25  	 Title: 25 has Aptas para Urbanizar en Ober Misiones Argentina
 Found: 500  	 Title: EXCELENTE AMBIENTE AMPLIO MONTEVIDEO 500 FRENTE!!!!!
 Found: 1500  	 Title: Semipisos un dormitorio Jujuy 1500 financiación !
 Found: .24  	 Title: Propiedad a la venta en Ituzaingo Sur. 3 CASAS EN 1 .24  de Octubre 2400. Apto Crédito Hipotecario.
 Found: 10  	 Title: CASA NUEVA SOBRE ASFALTO - GAS NATURAL . COLECTIVOS - COLEGIOS - LOTE DE 10 X 45 - TÍTULOS PERFECTOS E IMPUESTOS AL DÍA,. COMODIDADES DOS DORMITORIOS, BAÑO INST, COCINA COMEDOR DIARIO - LAVADERO -
 Found: 82  	 Title: 82 1800
 Found: 10  	 Title: Departamento a Estrenar Financiado a 10 años
 Found: 2.  	 Title: Dúplex en Venta. Ambientes. Dormitorios. 1 m2. 1 m2c
 Found: 71  	 Title:  CASA CON PILETA 3 DORM EN VENTA  3 E/ 71 Y 72
 Found: 600  	 Title: NUEVA CÓRDOBA + 1 DORMITORIO + BALCON + PISO ALTO + CONTRAFRENTE + CHACABUCO AL 600 + EXCELENTE OPORTUNIDAD
 Found: 1200  	 Title: NUEVA CORDOBA + UN DORMITORIO EN VENTA + AMPLIA TERRAZA + INDEPENDENCIA AL 1200 + ESCRITURA
 Found: 1400.  	 Title: Pasco 1400. PRIMER PISO. Entrega Inmediata
 Found: 521  	 Title: Casa en calle 521 entre 115 y 116
 Found: 10  	 Title: CALLE 10 2700
 Found: 60.000  	 Title: AMPLIO MONOAMBIENTE DE 45 M2 A ESTRENAR - U$S 60.000
 Found: 3216  	 Title: 3216 - V. fertil 346 1º B
 Found: 2500  	 Title: Rosario - Santa Fe 2500 - Venta Deptos 2 Dor - De pozo - InmGazze
 Found: 2235  	 Title: DEPARTAMENTO DE 2 AMB. AV. DE LOS TRABAJADORES 2235  1ºE
 Found: 3220  	 Title: 3220 - Silenios 80
 Found: 1149  	 Title: Rosario - Riccheri 1149 - Venta Deptos 1 Dormitorio en construcción - InmGazze
 Found: 2700  	 Title: Rosario - Brown 2700 - Venta Deptos 1 dormitorio en construcción - InmGazze
 Found: 1600  	 Title: Rosario - Iriondo 1600 - Venta Deptos 1 dormitorio en construcción - InmGazze
 Found: 3221  	 Title: 3221 - Terrazas de la Goleta 1ero E
 Found: 197  	 Title: Duplex a metros de Muñoz y 197 - Jose C Paz
 Found: 500  	 Title: Centro 9 de julio al 500 2dor c/cochera
 Found: 420  	 Title: VENTA DPTO SEMIPISO AVENIDA ARGENTINA 420 NEUQUEN
 Found: 19  	 Title: 19 e/34 y 35 Depto. 1 dorm.
 Found: 66  	 Title: Casa de 3 amb en buen estado. Lote 8,66 x 25
 Found: 73  	 Title: CALLE 73 600
 Found: 10  	 Title: vendo casa  10 x 25  buen estado OPORTUNIDAD
 Found: 557  	 Title: TASACIONES PROFESIONALES  judiciales y extrajudiciales .info : 557  /  156131243   /  156147244mat.prof.518 ( ccpim )
 Found: 557  	 Title: TASACIONES PROFESIONALES  judiciales y extrajudiciales .info : 557  /  156131243   /  156147244mat.prof.518 ( ccpim )
 Found: 557  	 Title: TASACIONES PROFESIONALES  judiciales y extrajudiciales .info : 557  /  156131243   /  156147244mat.prof.518 ( ccpim )
 Found: 2.  	 Title: Casa en venta sobre lote 2.500m2. City Bell
 Found: 73  	 Title: CALLE 73 600
 Found: 2100  	 Title: Paraguay 2100 , financiacion, dos dormitorios!
 Found: 2100  	 Title: Paraguay 2100 , financiacion, tres dormitorios!
 Found: 2100  	 Title: Casa - Piedra Buena 2100 - Mar Del Plata
 Found: 5000  	 Title: Casa  - San Nicolas al 5000 - J C Paz
 Found: 3355  	 Title: Departamento - ILLIA 3355 UF 13  - San Miguel
 Found: 2200  	 Title: Casa - Alejandro Sirio al 2200 - LOS POLVORINES
 Found: 435  	 Title: CASA - DARRAGUEIRA 435 - LOS POLVORINES
 Found: 1392  	 Title: CASA - BOGOTA 1392 - PILAR
 Found: 2915  	 Title: DUPLEX - CHACABUCO 2915 - VILLA BALLESTER
 Found: 600  	 Title: CASA - ZUVIRIA AL 600 - MUÑIZ
 Found: 32  	 Title: ESPACIOSO DEPARTAMENTO 3 DORM CH 32 33 ZONA BUSTAMANTE Y LAVALLE
 Found: 2800  	 Title: Balcarce 2800 6º piso
 Found: 25  	 Title: 25 de Mayo  1100
 Found: 50  	 Title: 50 e/13 y 14 Departamento 2 dorm. Pza. Moreno
 Found: 2200  	 Title: Paraguay 2200 , en construcción, un dormitorio!
 Found: 197  	 Title: Casa - Ruta 197 y Levalle -  J.C. Paz
 Found: 20  	 Title: PH de 3 amb. al frente 20 de Sept. y Vieytes

 Found: 3225  	 Title: Brown Alte. 3225 8º B
 Found: 489  	 Title: Casa en 489 e/ Gral Belgrano y 21
 Found: 400  	 Title: Eugenio Garzon 400 - 1 DOR - A metros de Patio Olmos - ESCRITURA!!
 Found: 20  	 Title: INVERSOR - ZONA D - ALTA CORDOBA - PARA 20 DEPARTAMENTOS
 Found: 7.30  	 Title: Local c losa y entrepiso sobre av vergara, de 7.30 x 21 mts, con baño mas entrepiso de  7.3 x 6. venta directa
 Found: 40  	 Title: Depto  APTO BANCO en 2 e/ 40 y 41
 Found: 200  	 Title: CHACABUCO al 200 -CENTRO- con escritura muy amplio
 Found: 449  	 Title: Casa en 21a e/ 449 y 450
 Found: 1100  	 Title: CHACABUCO 1100 - CATEGORIA ABSOLUTA - CONSULTA DISPONIBILIDAD
 Found: 28  	 Title: casa en 28 e/ 479 y 480
 Found: 49  	 Title: CASA APTA BANCO EN 49 E/ 154 Y 155
 Found: 12  	 Title: Casa en 12 y 51
 Found: 1900  	 Title: DEPARTAMENTO DE 1 DORMITORIO - SANTA ROSA 1900 ALBERDI
 Found: 493  	 Title: Casa en 493 e/ 22 y 23
 Found: 3000  	 Title: Casa 4 DORM PATIO PILETA Y ASADOR - FLEMING 3000 Teniente Benj.Matienzo NO APTO CREDITO
 Found: 461  	 Title: Casa -  APTA BANCO en 12b e/ 461 c y 461d
 Found: 72  	 Title: Departamento EN 72 E/ 24  Y 25
 Found: 48  	 Title: Casa APTA BANCO en 48 e/ 18 y 19
 Found: 505  	 Title: Duplex en 505 e/ 5 y 6  APTO BANCO
 Found: 32  	 Title: Casa - Rio Ceballos Laprida 32 2 dormitorios quincho asador patio cochera
 Found: 8800.  	 Title: Duplex 2d a estrenar en Recta Martinolli 8800. Arguello
 Found: 1.2.3  	 Title: Unidades de 1.2.3 ambientes y local consultar!!!!!!!
 Found: 18  	 Title: Venta Ituzaingo Chalet 5 Ambientes 18 cuadras de la estación, muy buen estado.
 Found: 38  	 Title: Complejo de 5 cabañas en cosquin a 4 c/ de R- 38 y del rio cosquin
 Found: 1120  	 Title: NUEVA CÓRDOBA - Velez sarfield 1120 - 2 DORM.!!
 Found: 300  	 Title: Departamento - General Paz al 300 - Excelente departamento 1 dormitorio
 Found: 1142  	 Title: 733- Impecable propiedad a estrenar sobre terreno de 1142 con increíble parque
 Found: 1600  	 Title: GASCON 1600 - 1 / 2 amb con balcón al frente
 Found: 2398  	 Title: Departamento en venta SAN JUAN 2398 - Amplio y luminoso
 Found: 6000.  	 Title: Departamento. 2 ambientes. Caaguazú 6000. Liniers
 Found: 5800  	 Title: Departamento de categoría, 3 ambientes. Tonelero 5800 Liniers
 Found: 1200.  	 Title: Casa 4 ambientes en Pilar al 1200.  U$S 260000.
 Found: 600.  	 Title: RESERVADO Venta de Lote o Casa a refaccionar 4 ambientes. Alves al 600. RESERVADO
 Found: 6000.  	 Title: PH de 2 ambientes en Ercilla al 6000. U$s 95000
 Found: 3400  	 Title: OLAVARRIA 3400 -  Florida Belgrano-Oeste
 Found: 5000  	 Title: Casa de Campo en la Serranita - 5000 de terreno con una hermosa arboleda
 Found: 2200  	 Title: Departamento Paraguay al 2200 - Macrocentro
 Found: 4800  	 Title: GALPON EN VENTA - AV. FZA AEREA 4800 - 1436 M2
 Found: 400  	 Title: LOCAL EN VENTA - PJE ISRAEL AL 400 - CENTRO
 Found: 557  	 Title: TASACIONES PROFESIONALES  judiciales y extrajudiciales .info : 557  /  156131243   /  156147244mat.prof.518 ( ccpim )
 Found: 557  	 Title: TASACIONES PROFESIONALES  judiciales y extrajudiciales .info : 557  /  156131243   /  156147244mat.prof.518 ( ccpim )
 Found: 557  	 Title: TASACIONES PROFESIONALES  judiciales y extrajudiciales .info : 557  /  156131243   /  156147244mat.prof.518 ( ccpim )
 Found: .2  	 Title: D.ORIONE.EXCEL.DEPTO.2 DORMIT.LIVING-COMEDOR.BAÑO-COC.FUNCIONAL.COLECTIV.X PUERTA. C/ESCRITURA
 Found: 500  	 Title: Depto 2 dorm Illia 500 frente balcon
 Found: 100  	 Title: Depto 1 dorm Sucre al 100 Centro
 Found: 200.  	 Title: IMPORTANTE CASA SOBRE ALCORTA AL 200. PLENA ZONA CENTRICA. INMEJORABLE UBICACION.4 AMBIENTES
 Found: 400  	 Title: Nva Cba Parana 400 depto 1 dorm balcon
 Found: 700.  	 Title: OPORTUNIDAD CASA. AMENEDO AL 700. ZONA CÉNTRICA. A MTS PLAZA PPAL.A 3 CDRAS ESTACION. COLECT.X LA PUERTA. APTO VIVIENDA O USO PROFESIONAL VARIOS RUBROS
 Found: 100  	 Title: Nva Cba Crisol al 100 1 Dorm APTO CREDITO
 Found: .2  	 Title: GLEW: DEPTO EN UPCN: EXCEL.EXTADO/LUMINOSO. 1ER PISO.2 DORMIT.C/BALCON Y LAVADERO
 Found: 537  	 Title: Florida 537 | Local Galeria Jardin 1er Piso con Entrepiso
 Found: 4800  	 Title: Conde 4800 - Saavedra - Casa Hostel Estudiantil 9 hab.   Vivienda
 Found: 400  	 Title: LOCAL EN VENTA - CORRIENTES AL 400 - 130 M2
 Found: 1100  	 Title: Departamento 1 de Mayo al 1100  - Centro
 Found: 1100  	 Title: Departamento 1 de Mayo al 1100 - Centro
 Found: 1100  	 Title: Departamento 1 de Mayo al 1100  - Centro
 Found: 1100  	 Title: Departamento 1 de Mayo al 1100 - Centro
 Found: 1100  	 Title: Departamento 1 de Mayo al 1100  - Centro
 Found: 1100  	 Title: Departamento 1 de Mayo al 1100 - Centro
 Found: 1100  	 Title: Departamento 1 de Mayo al 1100  - Centro
 Found: 1100  	 Title: Departamento 1 de Mayo al 1100  - Centro
 Found: 1100  	 Title: Departamento 1 de Mayo al 1100 - Centro
 Found: 1100  	 Title: Departamento 1 de Mayo al 1100  - Centro
 Found: 1100  	 Title: Departamento  1 de Mayo al 1100 - Centro
 Found: 1100  	 Title: Departamento 1 de Mayo al 1100  - Centro
 Found: 1100  	 Title: Departamento 1 de Mayo al 1100  - Centro
 Found: 1100  	 Title: Departamento 1 de Mayo al 1100 - Centro
 Found: 1100  	 Title: Departamento 1 de Mayo al 1100  - Centro
 Found: 1100  	 Title: Departamento 1 de Mayo al 1100  - Centro
 Found: 1100  	 Title: Departamento 1 de Mayo al 1100  - Centro
 Found: 1100  	 Title: Departamento 1 de Mayo al 1100 - Centro
 Found: 1100  	 Title: Departamento 1 de Mayo al 1100  - Centro
 Found: 1100  	 Title: Departamento 1 de Mayo al 1100  - Centro
 Found: 1100  	 Title: Departamento 1 de Mayo al 1100 - Centro
 Found: 1400  	 Title: Departamento Pte. Roca al 1400 - Centro
 Found: 1400  	 Title: Departamento Pte. Roca al 1400 - Centro
 Found: 1400  	 Title: Departamento Pte Roca al 1400  - Centro
 Found: .2  	 Title: GENERAL BELGRANO ,MUY LINDA CASA, CONFORTABLE. ZONA CENTRO.2 DORMIT. LOTE 20 X 20 MTS aprox. C/GALERIA CUBIERTA, QUINCHO. PARRILLA, GARAGE, FONDO Y PQUE.TERRAZA.
 Found: 1400  	 Title: Departamento Pte. Roca al 1400  - Centro
 Found: 1400  	 Title: Departamento Pte. Roca al 1400 - Centro
 Found: 1400  	 Title: Departamento Pte Roca al 1400  - Centro
 Found: 5000  	 Title: CAMPO DE 5000 HECTÁREAS EN LA RIOJA - LAS LATAS - CAMPO GANADERO
 Found: 1400  	 Title: Departamento Pte Roca al 1400 - Centro
 Found: 1400  	 Title: Departamento - Pte Roca al 1400 - Centro
 Found: 1400  	 Title: Departamento Pte. Roca al 1400  - Centro
 Found: 1400  	 Title: Departamento Pte. Roca al 1400  - Centro
 Found: 1400  	 Title: Departamento Pte. Roca al 1400  - Centro
 Found: 1400  	 Title: Departamento Pte. Roca 1400 - Centro
 Found: 1400  	 Title: Departamento Pte. Roca al 1400  - Centro
 Found: .1  	 Title: OPORTUNIDAD: EXCEL.PRECIO. 2 CENTRICAS/ EXCEL.UBICACIÓN / IDEAL VIVIENDA, INVERSION DESARROLLO INMOBILIARIO O COMERCIAL.1 CDRA PLAZA.3 ESTAC. A MTS.ALSINA Y COLEGIOS,ETC.
 Found: 1400  	 Title: Departamento Pte. Roca al 1400 - Centro
 Found: 1400  	 Title: Departamento Pte. Roca al 1400 - Centro
 Found: 1400  	 Title: Departamento Pte. Roca al 1400 - Centro
 Found: 1400  	 Title: Departamento Pte. Roca al 1400 - Centro
 Found: 1400  	 Title: Departamento Pte. Roca al 1400 - Centro
 Found: 1400  	 Title: Departamento Pte. Roca al 1400  - Centro
 Found: 500  	 Title: BURZACO: VENTA de CASA EN PH – EXCELENTE UBICACION- CASCO URBANO. MUY LINDA. TODO A NUEVO. FUNCIONAL. A. DEL VALLE AL 500 entre Amenedo y 25 de Mayo. A cdras estac.burzaco. Líneas Colectivo x la esq.
 Found: 1400  	 Title: Departamento Pte. Roca al 1400  - Centro
 Found: 1400  	 Title: Departamento Pte. Roca al 1400  - Centro
 Found: 1400  	 Title: Departamento Pte. Roca al 1400  - Centro
 Found: 1400  	 Title: Departamento Pte. Roca al 1400  - Centro
 Found: 1400  	 Title: Departamento Pte. Roca al 1400  - Centro
 Found: 1400  	 Title: Departamento Pte. Roca al 1400  - Centro
 Found: 1400  	 Title: Departamento Pte. Roca al 1400  - Centro
 Found: 1400  	 Title: Departamento Pte. Roca al 1400  - Centro
 Found: 1400  	 Title: Departamento Pte. Roca al 1400  - Centro
 Found: 1400  	 Title: Departamento Pte. Roca al 1400  - Centro
 Found: 1400  	 Title: Departamento Pte. Roca al 1400  - Centro
 Found: 1400  	 Title: Departamento Pte. Roca al 1400  - Centro
 Found: 1400  	 Title: Departamento Pte. Roca al 1400  - Centro
 Found: 1400  	 Title: Departamento Pte. Roca al 1400  - Centro
 Found: 1400  	 Title: Departamento Pte. Roca al 1400  - Centro
 Found: 1400  	 Title: Departamento Pte. Roca al 1400  - Centro
 Found: 1400  	 Title: Departamento Pte. Roca al 1400 - Centro
 Found: 1400  	 Title: Departamento Pte. Roca al 1400  - Centro
 Found: 10  	 Title: SAN VICENTE: EXCELENTE CASA. MODERNA, CALIDA, CONFORTABLE. ZONA CENTRICA, LOTE 10 X 40 MTS. CERCANA A LA LAGUNA C/ENTRADA P/2 AUTOS.HERMOSO PARQUE.CLOACAS-AGUA CORRIENTE -GAS NATURAL.PROPUESTA IDEAL .
 Found: 1400  	 Title: Departamento Pte. Roca al 1400  - Centro
 Found: 1400  	 Title: Departamento Pte. Roca al 1400  - Centro
 Found: 10  	 Title: BURZACO - MINISTRO RIVADAVIA - CASA AMPLIA CON 2 LOCALES Y FONDO - ESCRITURADA -  TERRENO DE 10 X 30 -
 Found: 100  	 Title: Departamento - Pasco al 100 - Macrocentro
 Found: 1100  	 Title: Departamento Ricchieri al 1100 - Macrocentro
 Found: 1400  	 Title: Departamento Pte. Roca al 1400 - Centro
 Found: 10  	 Title: BURZACO : CASA en Barrio Arseno. 75 m2 - 3 habitaciones - Lote de 10 x 40 - Fondo con Pileta para reparar - Jardín delantero
 Found: 2200  	 Title: Castellanos 2200 - Casa de cuatro dormitorios en venta - Rosario
 Found: 1000  	 Title: Departamento - Iriondo al 1000 - Echesortu
 Found: 1000  	 Title: Departamento Sarmiento al 1000  - Centro
 Found: 1100  	 Title: Departamento San Juan al 1100  - Centro
 Found: 1100  	 Title: Departamento Ayacucho al 1100  - Centro
 Found: 1100  	 Title: Departamento Ayacucho al 1100  - Centro
 Found: 1100  	 Title: Departamento Ayacucho al 1100 - Centro
 Found: 1700  	 Title: Departamento España al 1700 - Centro
 Found: 100  	 Title: Departamento Italia al 100  - Centro
 Found: 200  	 Title: Departamento Italia al 200  - Centro
 Found: 2700  	 Title: Departamento Cordoba al 2700  - Macrocentro
 Found: 100  	 Title: Departamento - Italia al 100 - Centro
 Found: 100  	 Title: Departamento Italia al 100 - Centro
 Found: 1300  	 Title: Casa Uruguay al 1300 - Macrocentro
 Found: 2600  	 Title: Departamento - Mendoza al 2600 - Macrocentro
 Found: 900  	 Title: Departamento - Cerrito al 900 - Macrocentro
 Found: 2600  	 Title: Departamento - Santa Fe al 2600 - Macrocentro
 Found: 2300  	 Title: Alberdi - Valentin Gomez 2300 (Terreno)
 Found: 28  	 Title: 28 e/68 y 69 Departamento 2 Dorm.
 Found: 30  	 Title: ¡OPORTUNIDAD! ¡TU PRIMER DEPARTAMENTO EN  30 CUOTAS!
 Found: 1.922  	 Title: PROYECTO VIVIENDAS UNIFAMILIARES: TIPO DUPLEX DE 71 M2 DOS ( 2 ) DORMITORIOS UBICACIÓN:  CALLE ROCA 1.922 DEPARTAMENTO DE GODOY CRUZ-MENDOZA
 Found: 1.922  	 Title: PROYECTO VIVIENDAS UNIFAMILIARES: TIPO DUPLEX DE 71 M2 DOS ( 2 ) DORMITORIOS UBICACIÓN:  CALLE ROCA 1.922 DEPARTAMENTO DE GODOY CRUZ-MENDOZA
 Found: 300  	 Title: Falucho 300 bis
 Found: 40  	 Title: MORENO 40 B00
 Found: 78  	 Title: Moreno 78 bis , un dormitorio , financiacion!
 Found: 78  	 Title: Moreno 78 bis , dos dormitorios , financiacion!
 Found: 55  	 Title: 55 900
 Found: 433  	 Title: URUGUAY 433 - DPTO DOS DORMITORIOS
 Found: 8.66  	 Title: CHALET DE 4 AMBIENTES SOBRE LOTE DE 8.66 X 33 MTS
 Found: 23  	 Title: 23 e/ 43 y 44 500
 Found: 20  	 Title: 20 e/ 46 y 47 700
 Found: ..  	 Title: VENTA DPTO, COMP.. CERRADO.  VILLA AZCUENAGA SUR.
 Found: 1152  	 Title: Rosario - Riccheri 1152 - Venta Deptos 1 Dormitorio en construcción - InmGazze
 Found: 11  	 Title: Vendo Casa 3 D Bª 11 de Octubre - Plottier - Nqn
 Found: 400  	 Title: TRIPLEX EN VENTA | SARMIENTO 400 | TANDIL
 Found: 355  	 Title: 355 - MERLO, FERRARI HERMOSO DPTO, U$S 37,000
 Found: 23000  	 Title: CASAS EN VENTA - LOTE MAS CASA DESDE U$S 23000 Y CREDITO BANCARIO, CASAS APTO CREDITO BANCARIO, BARRIOS PRIVADOS VENTA
 Found: 081  	 Title: REF 081 HERMOSO CHALET EN MERLO SUR - ZONA IGLESIA DE LA MERCED
 Found: 2400  	 Title: 9 DE JULIO 2400 - 2 AMB. C/VISTA AL MAR
 Found: 1998  	 Title: Rosario -  Virasoro 1998 - Monoambientes en construcción - Inmbiliaria Gazze
 Found: 10  	 Title: CASA EN VENTA MERLO NORTE SOBRE LOTE 10 X 40
 Found: 1200  	 Title: CASA - DORREGO AL 1200 - SAN MIGUEL
 Found: 2.  	 Title: VENTA MONO AMBIENTE COCINA SEPARADA 30 m2.
 Found: 74  	 Title: Diagonal 74  700
 Found: 2.000  	 Title: Venta 2 Amb U$S 63.500.- Sarmiento al 2.000 entre Riobamba y Ayacucho. Balvanera
 Found: 10  	 Title: Departamento a Estrenar Financiado a 10 años
 Found: 10  	 Title: Departamento a Estrenar Financiado a 10 años
 Found: 10  	 Title: Cochera a Estrenar Financiado a 10 años
 Found: 526  	 Title: Casa en Avenida 526 esquina 20
 Found: 1300  	 Title: CASA EN VENTA, TEMPERLEY ESTE. JULIAN DE CASAL AL 1300 . APTA CREDITO HIPOTECARIO
 Found: 37  	 Title: Casa sobre lote de 8.66x37 con 3 dormitorio + dependencias, pileta y gimnasio. Detalles de categoria
 Found: 198  	 Title: cod 198 - DPTOS A ESTRENAR DE UN DORM EN Bº SAN MARTIN
 Found: 100  	 Title: Casa a estrenar; de 2 dormitorios a  100 m de Avenida Belgrano en Villa Cura Brochero
 Found: 35  	 Title: Económica y tranquila casa en Ambul, a 35 km de Villa Cura Brochero – Para descansar y relajarse
 Found: 20  	 Title: VENTA DEPTO A ESTRENAR A 20 CUADRAS DEL CENTRO
 Found: 450  	 Title: HERMOSO DPTO NVA CORDOBA - PARANA 450 - IMPERDIBLE
 Found: ..  	 Title: Oportunidad.. Departamentos de 1 y 2 dormitorios financiados en pesos!!!
 Found: ..  	 Title: Bº General Paz, Edificio en pozo.. Ultimas Unidades.!!!
 Found: 2100  	 Title: DEPARTAMENTO DE UN DORMITORIO POSESIÓN ABRIL 2016- JUJUY 2100 ALTA CORDOBA
 Found: ...  	 Title: RIO CUARTO... Se VENDE Departamento de 2 Dormitorios a Estrenar!!!
 Found: ...  	 Title: BARRIO GENERAL PAZ... Se VENDE Departamento de 1 Dormitorio!!!
 Found: 1250  	 Title: POETA LUGONES casa en Ph planta baja 3 dorm $ 1250 000
 Found: 24  	 Title: NUEVA CORDOBA - Av. Poeta Lugones 24 5° A
 Found: 20  	 Title: SE VENDE CASA DE 3 DORMITORIOS Bº 20 DE JUNIO
 Found: 0000545  	 Title: Cod. 0000545 - Casa en Villa Gral. Belgrano
 Found: 400  	 Title: San J de Calasanz400 dpto un dorm, entrega$300mil y ctasTe:351 5300683‏
 Found: 600  	 Title: VENDE - RONDEAU 600 - NUEVA CORDOBA -  2 DORM.  - BALCON - LUMINOSO
 Found: 1700  	 Title: AV COLON AL 1700 UN DORM VENTA
 Found: 1000  	 Title: VELEZ SARSFIELD AL 1000 1 DORM EN VENTA
 Found: 500  	 Title: 1 DORM CALDERON DE LA BARCA AL 500 EN VENTA
 Found: 1300  	 Title: 9 DE JULIO AL 1300 UN DORMITORIO
 Found: 200  	 Title: INDEPENDENCIA AL 200 DOS DORM EN VENTA
 Found: 900  	 Title: MARCELO T DE ALVEAR AL 900 3 DORM
 Found: 1500  	 Title: CASA EN ROQUE FERREYRA AL 1500 3 DORM
 Found: 1200  	 Title: BV SAN JUAN 1200 LOCAL EN VENTA
 Found: 1100  	 Title: ITUZAINGO 1100 LOCAL EN VENTA
 Found: 351  	 Title: Zona Tribun dpto dos dorm coc sep con balcón a estrenar Cel351 5300683‏
 Found: 1800  	 Title: SE VENDE DEPARTAMENTO DE 2 DORMITORIOS AV. COLON 1800 CON RENTA
 Found: 46  	 Title: VENDE - ALTO  ALBERDI - DR. CAFERATTA 46 - 1DOR. - BAJAS EXPENSAS
 Found: ...  	 Title: Oportunidad... Excelente departamento de un dormitorio, Bº General Paz.!!!
 Found: ..  	 Title: Se VENDE.. Departamentos a ESTRENAR... OPCIÓN COCHERAS!!      Villa Carlos Paz!!
 Found: ..  	 Title: EDIFICIO ALTO AVENIDA.. DEPARTAMENTOS EN CONSTRUCCIÓN.!!
 Found: 2017  	 Title: COFICO CANDONGA III PRE/VTA 2017 1D , EXCELENTE ZONA!!!
 Found: 4900  	 Title: VILLASOL 1 dormitorio - Av Colon 4900 - Complejo Cerrado
 Found: 300  	 Title: San Lorenzo 300 living comedor -kichentette con barra, balcon - 1 dormitorio
 Found: 10  	 Title: Fructuoso Rivera 10 1 dormitorio "gran TERRAZA"
 Found: 1602  	 Title: CALAMUCHITA - Cód.  1602 - Santa Rosa -Centro
 Found: 300  	 Title: OPORTUNIDAD Monoambiente - Rondeu 300 - b nueva cordoba
 Found: 400  	 Title: Vendo dpto 1 dorm OBISPO SALGUERO 400 - b NUEVA CORDOBA
 Found: ..  	 Title: URGENTE.. dpto en Venta a 2 dormitorios y cochera !!
 Found: 500  	 Title: Vendo Dpto 2 Dorm - Excelente Estado - Parana 500 B Nueva Cordoba
 Found: 400  	 Title: Vendo Dpto 1 Dorm - Chacabuco 400 - B Nueva Cordoba
 Found: 275  	 Title: Vendo Dpto 1 Dorm - Chacabuco 275 - B Centro
 Found: 400  	 Title: Vendo dpto 1 dorm Obispo Salguero 400 - b nueva cordoba
 Found: 4900  	 Title: VILLASOL 1 dormitorio PB - Av Colon 4900 - Complejo Cerrado
 Found: 28  	 Title: CAMPO AGRICOLA :: MEDIA NARANJA 28 HAS
 Found: 10  	 Title: OPERA LUXURY TORRE VIP PISO 10 UNICO!! 2D- 3B-BCO TZA VISTA!!!
 Found: 27  	 Title: INVERSOR!! CASA EN SAN JOSE DE CALAZANS -ENTRE 27 DE ABRIL Y CASEROS-
 Found: 2.200  	 Title: Cerro de las Rosas calle Donaciano del Campillo 2.200 esquina García de Lorca 3 habitaciones.
 Found: ..  	 Title: URGENTE.. dpto en Venta a 2 dormitorios y cochera !!
 Found: ...  	 Title: ALTO ALBERDI... EDIFICIO EN CONSTRUCCIÓN. AMPLIA FINANCIACIÓN! POSESIÓN MARZO 2017.
 Found: 200  	 Title: Ultimos Deptos! Bv. Illia 200 Nva Cordoba. 2 dorm, con esc,balcón. Excelente ubicación.
 Found: 369  	 Title: DPTO EN VENTA - BALCARCE 369 / 2º B
 Found: 496  	 Title: DEPARTAMENTO EN VENTA- ROSARIO DE STA. FE 496 / 5ºA
 Found: 24  	 Title: Pleno General Paz, 24 de septiembre, depto 2 dorm, externo, excelente calidad!
 Found: 2522  	 Title: DEPARTAMENTO EN VENTA - ROSARIO DE STA. FE 2522
 Found: 496  	 Title: departamento en venta - Rosario de sta. fe 496 / 4ºE
 Found: 2256  	 Title: HERMOSA CASA EN VENTA -Calle Azul N° 2256 B° San Pablo
 Found: 026  	 Title: 026 se vende DEPARTAMENTO EN CÓRDOBA
 Found: 555  	 Title: Departamento en venta Nueva Cordoba Parana 555 un Dormitorio
 Found: 10  	 Title: CAPILLA DEL MONTE. HOSTERIA 10 HABITACIONES U$D 190.000
 Found: 17  	 Title: LIVETTE Deptos a estrenar con posesion en Torre 1 y para Dic/17 en Torre 2
 Found: 800  	 Title: Departamento 1 dormitorio Chacabuco al 800 Nva Cba.
 Found: 1000  	 Title:  AV. PATRIA 1000 C/ESCRITURA 1 DORM EXT
 Found: 700  	 Title: VENDO Monoambiente en Salguero 700 – NVA. CBA.
 Found: 100  	 Title: VENDO Dpto. 1d en Larrañaga 100 Nva. Cba.
 Found: 600  	 Title: VENDO / Dpto 1d - Ambrosio Olmos 600 – NVA. CBA.
 Found: 100  	 Title: VENDO Dpto. 1 Dorm. en Tucumán al 100 –CENTRO
 Found: 24  	 Title: VENDO Dpto 3 dorm - 24 de Septiembre 1100 – GRAL. PAZ
 Found: 900  	 Title: Vendo EXCEPCIONAL Local en Nueva Córdoba - Vélez Sarsfield al 900
 Found: 1600  	 Title: Vendo Depto 2 Dorm C/Balcón y COCHERA – Rodríguez Peña 1600 – ALTA CÓRDOBA
 Found: 200  	 Title: Vendo Departamento 2 Dormitorios – Nueva Córdoba – ILLIA 200
 Found: 1100  	 Title: Vendo Excepcional Departamento 1 Dorm C/Balcón – Nueva Córdoba – Independencia 1100
 Found: 200  	 Title: Vendo Excepcional Monoambiente Amplio y Luminoso – Pueyrredón 200
 Found: 600  	 Title: Vendo Departamento 1 Dorm C/Balcón – Nueva Córdoba – CHACABUCO 600
 Found: 600  	 Title: Vendo Depto 2 Dormitorios C/Balcón – Nueva Córdoba – CHACABUCO 600
 Found: 279  	 Title: Departamento En Illia 279 excelente zona
 Found: 400  	 Title: Vendo Depto 2 Dormitorios – Boulevard Ocampo 400 – Bº General Paz
 Found: 600  	 Title: Vendo Departamento 2 Dormitorios – Caseros 600
 Found: 900  	 Title: Vendo Excelente Monoambiente – Ambrosio Olmos 900
 Found: 400  	 Title: Vendo Departamento 1 Dorm Baño en SUITE!!! – Pasaje Garzón 400
 Found: 700  	 Title: VENDO Monoambiente en Salguero 700 – NVA. CBA.
 Found: 100  	 Title: VENDO Dpto. 1d en Larrañaga 100 Nva. Cba.
 Found: 600  	 Title: VENDO / Dpto 1d - Ambrosio Olmos 600 – NVA. CBA.
 Found: 100  	 Title: VENDO Dpto. 1 Dorm. en Tucumán al 100 –CENTRO
 Found: 24  	 Title: VENDO Dpto 3 dorm - 24 de Septiembre 1100 – GRAL. PAZ
 Found: 1600  	 Title: Vendo Depto 2 Dorm C/Balcón y COCHERA – Rodríguez Peña 1600 – ALTA CÓRDOBA
 Found: 200  	 Title: Vendo Departamento 2 Dormitorios – Nueva Córdoba – ILLIA 200

##### Trabajo  para completar cantidad de ambientes con valores útiles en título y descripción:

In [29]:
#Creamos una regex  y la corremos en título y en descripcíon para ver que encuentra
pat_ambientes = r'\b(\d{1,2})\s*amb'

#Extraemos los datos las nuevas columnas amb_tit y amb_desc del título y la descripcion
df['amb_tit'] = df.title.str.extract(pat_ambientes, re.IGNORECASE, expand=True).astype(np.float)
df['amb_desc'] = df.description.str.extract(pat_ambientes, re.IGNORECASE, expand=True).astype(np.float)

#Verificamos los valores extraídos
print ("Cantidad de ambientes extraídos de títulos:")
display (df.loc[~(df.amb_tit.isnull())].filter(['amb_tit']).sort_values('amb_tit').amb_tit.unique())
print ("Cantidad de ambientes extraídos de descripciones:")
display (df.loc[~(df.amb_desc.isnull())].filter(['amb_desc']).sort_values('amb_desc').amb_desc.unique())

#Tras revisar los resultados,  concluimos que en las descripciones hay mucha información falsa y no confiable. 
#Optamos solo por extraer los valores del título.

Cantidad de ambientes extraídos de títulos:

array([ 1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12., 14.,
       15.])

Cantidad de ambientes extraídos de descripciones:

array([ 0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12.,
       14., 16., 17., 18., 20., 22., 23., 24., 25., 28., 32., 36., 37.,
       50., 53., 65., 70., 75., 84., 90.])

##### Trabajo para completar cantidad de dormitorios con valores útiles en título y descripción:

In [30]:
#Creamos una regex  y la corremos en título y en descripción para ver que encuentra
pat_dormitorios = r'\b(\d{1,2})\s*dor'

#Extraemos los datos a las nuevas columnas dor_tit y dor_desc del título y la descripcion
df['dor_tit'] = df.title.str.extract(pat_dormitorios, re.IGNORECASE, expand=True).astype(np.float)
df['dor_desc'] = df.description.str.extract(pat_dormitorios, re.IGNORECASE, expand=True).astype(np.float)

#Verificamos los valores extraídos
print ("Cantidad de dormitorios extraídos de títulos:")
display (df.loc[~(df.dor_tit.isnull())].filter(['dor_tit']).sort_values('dor_tit').dor_tit.unique())
print ("Cantidad de dormitorios extraídos de descripciones:")
display (df.loc[~(df.dor_desc.isnull())].filter(['dor_desc']).sort_values('dor_desc').dor_desc.unique()
)
#Tras revisar los resultados, optamos por no tomar ninguno de los datos extraidos dado que mucha información es falsa y no confiable

Cantidad de dormitorios extraídos de títulos:

array([ 1.,  2.,  3.,  4.,  5.,  6.,  7.,  9., 10.])

Cantidad de dormitorios extraídos de descripciones:

array([ 0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 13.,
       14., 15., 18., 20., 22., 24., 25., 27., 30., 31., 32., 33., 34.,
       35., 40., 41., 42., 43., 44., 45., 48., 50., 51., 52., 53., 54.,
       57., 60., 62., 65., 70., 72., 74., 75., 76., 77., 78., 80., 83.,
       84., 85., 87., 90., 93., 95.])

##### Trabajo para recuperar cantidad de baños con valores útiles en título y descripción:

In [31]:
#Creamos una regex  y la corremos en título y en descripción para ver que encuentra
pat_banos = r'\b(\d{1,2})\s*bañ'

#Extraemos los datos a las nuevas columnas bath_tit y bath_desc del título y la descripcion
df['bath_tit'] = df.title.str.extract(pat_banos, re.IGNORECASE, expand=True).astype(np.float)
df['bath_desc'] = df.description.str.extract(pat_banos, re.IGNORECASE, expand=True).astype(np.float)

#Verificamos los valores extraídos
print ("Cantidad de baños extraídos de títulos:")
display (df.loc[~(df.bath_tit.isnull())].filter(['bath_tit']).sort_values('bath_tit').bath_tit.unique())
print ("Cantidad de baños extraídos de descripciones:")
display (df.loc[~(df.bath_desc.isnull())].filter(['bath_desc']).sort_values('bath_desc').bath_desc.unique())

#Tras revisar los resultados, optamos por no tomar ninguno de los datos extraidos dado que el volumen de datos que extraemos no es significativo

Cantidad de baños extraídos de títulos:

array([1., 2., 3., 4., 5., 6.])

Cantidad de baños extraídos de descripciones:

array([ 0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12.,
       15., 16., 18., 20., 22., 23., 25., 27., 30., 31., 36., 37., 40.,
       41., 42., 43., 48., 50., 51., 52., 55., 60., 61., 64., 65., 70.,
       71., 75., 76., 80., 82., 85., 86., 90., 93., 95.])

##### Trabajo para completar los datos faltantes de 'rooms' a partir de los datos de ambientes obtenidos en títulos:

In [20]:
#Tomamos un subset compuesto por las observaciones que tienen valores en la variable `rooms` y los que también tienen en el título, es decir `amb_tit` y hacemos un booleano entre dichas Series.
#Lo que nos devuelve es una serie de booleanos, que tienen la propiedad de que los valores `True` son iguales a 1, mientras que los `False` son 0.
a = df.filter(['amb_tit', 'dor_tit', 'rooms']).\
        loc[~(df.rooms.isnull()) & ~(df.amb_tit.isnull())].amb_tit.astype(np.float64) == \
    df.filter(['amb_tit', 'dor_tit', 'rooms']).loc[~(df.rooms.isnull()) & ~(df.amb_tit.isnull())].rooms

#Hacemos la suma total de los valores, donde nos dará el total de `True`s, y lo dividimos en la longitud total de la serie.
a.sum()/len(a)

#El resultado anterior indica que rooms y ambientes es lo mismo en un 94% de los casos, por lo que podemos rellenar los `NaN` de *'rooms'* con *'amb_tit'*

0.9498057734785589

### Trabajos exploratiorios con precios de las propiedades:

In [ ]:
# Me centrare en las columnas 'place_name', 'price', 'currency', 'price_aprox_local_currency', 'price_aprox_usd', 'surface_total_in_m2', 'surface_covered_in_m2', 'price_usd_per_m2', 'price_per_m2'
# Tenemos 20 mil casos sin ningun dato de precio. Creo el DF dfprecio para trabajar todo lo relacionado a precio en el:
mycolums = df[['place_name', 'price', 'currency', 'price_aprox_local_currency',
               'price_aprox_usd', 'surface_total_in_m2', 'surface_covered_in_m2',
               'price_usd_per_m2', 'price_per_m2', 'title', 'description']];
dfprecio = mycolums.loc[((df['price'].isnull()) & (df['price_aprox_usd'].isnull())\
                         &(df['price_aprox_local_currency'].isnull()) \
                         &(df['price_usd_per_m2'].isnull()) & (df['price_per_m2'].isnull()))];

# Extraigo precios de los titulos y descripciones. Creo 2 dataframes
patron_p = r'([$]|[Uu][Ss$][$SDsd]*)\s*(\d*)[\s* .,]*(\d*)[\s* .,](\d*)'
df_precio_desc = dfprecio['description'].str.extract(patron_p)
df_precio_title = dfprecio['title'].str.extract(patron_p)

### Trabajos exploratorios con la ubicación de las propiedades:

###### Trabajo para recuperar ubicación faltante de las propiedades desde geonames

In [21]:
# Descargamos de acá: https://download.geonames.org/export/dump/ la base de datos de geonames de argentina
#Leemos la base de datos
geo_column_names = ["geonameid","name","asciiname","alternatenames","lat","lon",
                    "feature class","feature code","country code","cc2",
                    "admin1 code","admin2 code","admin3 code","admin4 code","population",
                    "elevation","dem","timezone","modification date"]
geo = pd.read_csv("AR.txt",sep='\t',index_col=0,names=geo_column_names,)

# Muestra de datos relevantes
print("Shape de la base de datos: {}".format(geo.shape))
print("Muestra de datos de la DB de geonames")
display(geo[["name","lat","lon"]].sample(5))

# Joineamos las tablas por el id de geoname
geodf=df.join(geo[["lat","lon"]],on="geonames_id",rsuffix="_geo")

# Imprimo resultados encontrados
print("")
print("Encontramos datos de latitud y longitud que no teniamos para {} observaciones".format(geodf.loc[(geodf["lat"].isnull()) & (~geodf["lat_geo"].isnull())].shape[0]))
print("No pudimos encontrar nuevos datos de latitud y longitud para {} observaciones".format(geodf.loc[(~geodf["lat"].isnull()) & (geodf["lat_geo"].isnull())].shape[0]))
print("Nuestro Dataset original podria quedar solo con {} observaciones sin latitud y longitud".format(geodf.loc[(geodf["lat"].isnull()) & (geodf["lat_geo"].isnull())].shape[0]))
print("")
print("Muestra de resultados con datos existentes y encontrados en Base de geonames")
geodf.loc[(~geodf["lat"].isnull()) & (~geodf["lat_geo"].isnull()),["place_with_parent_names","geonames_id","lat-lon","lat","lon","lat_geo","lon_geo"]].sample(10)

#CONCLUSIÓN

Shape de la base de datos: (49650, 18)
Muestra de datos de la DB de geonames

                                        name       lat       lon
geonameid
3854116                    Cerro Huaiquerías -35.55000 -68.28333
3846670                            Loma Rica -28.43333 -64.70000
3852116                   Estancia La Chacra -34.81512 -62.53215
11364062   Hito XI-Treinta Paso de Las Leñas -34.46354 -70.07477
3840539               Pozo de la Gran Bestia -27.36667 -60.70000

Encontramos datos de latitud y longitud que no teniamos para 43204 observaciones
No pudimos encontrar nuevos datos de latitud y longitud para 10825 observaciones
Nuestro Dataset original podria quedar solo con 8346 observaciones sin latitud y longitud

Muestra de resultados con datos existentes y encontrados en Base de geonames

,place_with_parent_names,geonames_id,lat-lon,lat,lon,lat_geo,lon_geo
22188,|Argentina|Buenos Aires Costa Atlántica|Mar de...,3430863.0,"-38.0135013,-57.5371288",-38.013501,-57.537129,-38.00042,-57.55620
55201,|Argentina|Capital Federal|Villa Pueyrredón|,3429703.0,"-34.5881753,-58.5013924",-34.588175,-58.501392,-34.58333,-58.50000
36974,|Argentina|Capital Federal|Palermo|,3430234.0,"-34.5898948,-58.4183366",-34.589895,-58.418337,-34.58856,-58.43053
162,|Argentina|Buenos Aires Costa Atlántica|Mar de...,3430863.0,"-38.0131731,-57.5509598",-38.013173,-57.550960,-38.00042,-57.55620
44940,|Argentina|Córdoba|Córdoba|,3860259.0,"-31.3748036524,-64.2929839343",-31.374804,-64.292984,-31.41350,-64.18105
38670,|Argentina|Bs.As. G.B.A. Zona Oeste|Tres de Fe...,3428075.0,"-34.5652803,-58.5157358",-34.565280,-58.515736,-34.60379,-58.54610
41703,|Argentina|Buenos Aires Costa Atlántica|Mar de...,3430863.0,"-37.984512,-57.5449325",-37.984512,-57.544933,-38.00042,-57.55620
57032,|Argentina|Córdoba|Córdoba|,3860259.0,"-31.451814,-64.137956",-31.451814,-64.137956,-31.41350,-64.18105
27113,|Argentina|Capital Federal|Congreso|,3435259.0,"-34.6093483668,-58.3850130612",-34.609348,-58.385013,-34.60948,-58.39225
7082,|Argentina|Buenos Aires Costa Atlántica|Mar de...,3430863.0,"-37.9920633,-57.5479535",-37.992063,-57.547954,-38.00042,-57.55620

### Trabajo exploratorio con url de imágenes:
##### Trabajo con duplicación de imágenes

In [ ]:
import requests
import hashlib

# Analizamos los primeros 100 casos, leemos la imagen, y le hacemos un hash para comparar a ver si es exacta igual a otra.
r = pd.DataFrame([
    hashlib.md5(requests.get(url = df.loc[x,"image_thumbnail"], params = []).text.encode()).hexdigest() for x in range(100)
])
# Imprimo  cantidad de duplicados
print("Cantidad de imagenes duplicadas (con distinta url) de las primeras 100 observaciones {} ".format(r.duplicated().sum()))

#Concluimos que no es una variable significativa ya que cuenta con imágenes duplicadas

##  2. Normalizar, corregir y rellenar información

En este bloque pretendemos llevar a cabo lo concluido a partir del análisis exploratorio. El objetivo es estandarizar la información del dataset, corrigiendo y completando datos faltantes.

### Trabajos realizados sobre superficie de las propiedades:

##### Corregimos m2 que encontramos invertidos entre superficie total y superficie cubierta:

In [22]:
#Creo columna temporal_dos para filtrar subconjunto de datos relevantes a invertir
df['temporal_dos'] = (df.surface_total_in_m2 < df.surface_covered_in_m2)
print("Cantidad de registros a invertir entre Superficies total y cubierta: {}".format(df['temporal_dos'].sum()))

#Creo columna temporal para guardar datos
df['temporal'] = df.surface_total_in_m2 

#Paso valores de superficie cubierta a superficie total
df.loc[df['temporal_dos'],'surface_total_in_m2'] = df.loc[df['temporal_dos'],'surface_covered_in_m2']

#Paso valores de superficie total a superficie cubierta
df.loc[df['temporal_dos'], 'surface_covered_in_m2'] = df.loc[df['temporal_dos'], 'temporal']

#Recreamos la columna temporal para ver si siguen existiendo valores invertidos
df['temporal_dos'] = (df.surface_total_in_m2 < df.surface_covered_in_m2)
print("Cantidad de registros que siguen invertidos: {}".format(df['temporal_dos'].sum()))

#Dropeamos las temporales
df.drop('temporal', axis=1)
df.drop('temporal_dos', axis=1);

Cantidad de registros a invertir entre Superficies total y cubierta: 1106
Cantidad de registros que siguen invertidos: 0

##### Limpiamos nulls en variables de superficie:

In [23]:
# Los metros en cero en superficie totales los ponemos en null
print("Valores M2 cubierto en cero puestos en Nan: {}".format((df["surface_covered_in_m2"] == 0).sum()))
print("Valores M2 totales en cero puestos en Nan: {}".format((df["surface_total_in_m2"] == 0).sum()))
df.loc[(df["surface_total_in_m2"] == 0),["surface_total_in_m2"]] = np.nan
df.loc[(df["surface_covered_in_m2"] == 0),["surface_covered_in_m2"]] = np.nan
print("-------------")

#Revisamos valores antes del reemplazo
print("Antes del reemplazo")
print("Nulos en totales: {}".format(df['surface_total_in_m2'].isnull().sum()))
print("Nulos en cubiertos: {}".format(df['surface_covered_in_m2'].isnull().sum()))
print("Nulos en ambos al mismo tiempo: {}".format(df.loc[(df['surface_covered_in_m2'].isnull()) & (df['surface_total_in_m2'].isnull()) ,:].loc[:,"operation"].count()))
print("Nulos totales y no en cubiertos: {}".format(df.loc[(~df['surface_covered_in_m2'].isnull()) & (df['surface_total_in_m2'].isnull()) ,:].loc[:,"operation"].count()))
print("Nulos cubierto y no en totales: {}".format(df.loc[(df['surface_covered_in_m2'].isnull()) & (~df['surface_total_in_m2'].isnull()) ,:].loc[:,"operation"].count()))
print("Valores iguales: {}".format(df.loc[df['surface_total_in_m2'] == df['surface_covered_in_m2'],"surface_covered_in_m2"].count()))


# relleno los m2totales faltantes con los cubiertos
df.loc[(~df['surface_covered_in_m2'].isnull()) & ( df['surface_total_in_m2'].isnull()) ,"surface_total_in_m2"] = df["surface_covered_in_m2"]
# relleno los m2cubiertos faltantes con los totales
df.loc[( df['surface_covered_in_m2'].isnull()) & (~df['surface_total_in_m2'].isnull()) ,"surface_covered_in_m2"] = df["surface_total_in_m2"]
print("-------------")

#Revisamos valores despues del reemplazo
print("Despues del reemplazo")
print("Nulos en totales: {}".format(df['surface_total_in_m2'].isnull().sum()))
print("Nulos en cubiertos: {}".format(df['surface_covered_in_m2'].isnull().sum()))
print("Nulos en ambos al mismo tiempo: {}".format(df.loc[(df['surface_covered_in_m2'].isnull()) & (df['surface_total_in_m2'].isnull()) ,:].loc[:,"operation"].count()))
print("Nulos totales y no en cubiertos: {}".format(df.loc[(~df['surface_covered_in_m2'].isnull()) & (df['surface_total_in_m2'].isnull()) ,:].loc[:,"operation"].count()))
print("Nulos cubierto y no en totales: {}".format(df.loc[(df['surface_covered_in_m2'].isnull()) & (~df['surface_total_in_m2'].isnull()) ,:].loc[:,"operation"].count()))
print("Valores iguales: {}".format(df.loc[df['surface_total_in_m2'] == df['surface_covered_in_m2'],"surface_covered_in_m2"].count()))

Valores M2 cubierto en cero puestos en Nan: 2
Valores M2 totales en cero puestos en Nan: 383
-------------
Antes del reemplazo
Nulos en totales: 39711
Nulos en cubiertos: 19909
Nulos en ambos al mismo tiempo: 12752
Nulos totales y no en cubiertos: 26959
Nulos cubierto y no en totales: 7157
Valores iguales: 24173
-------------
Despues del reemplazo
Nulos en totales: 12752
Nulos en cubiertos: 12752
Nulos en ambos al mismo tiempo: 12752
Nulos totales y no en cubiertos: 0
Nulos cubierto y no en totales: 0
Valores iguales: 58289

##### Extraemos cantidad de ambientes faltantes de los títulos:

In [24]:
#Creamos una regex  y la corremos en titulo y en descripcion para ver que encuentra
pat_ambientes = r'\b(\d{1,2})\s*amb'

#Extraemos los datos del título a la nueva columna amb_tit
df['amb_tit'] = df.title.str.extract(pat_ambientes, re.IGNORECASE, expand=True).astype(np.float)

#Verificamos los valores extraídos
df.loc[~(df.amb_tit.isnull())].filter(['amb_tit']).sort_values('amb_tit').amb_tit.unique()

#Revisamos cuantos valores extrajimos
df.loc[~(df.amb_tit.isnull())].title.count()

21799

###### Llenamos los `NaN` con los valores obtenidos en `amb_tit`

In [25]:
#Revisamos cuantos podemos salvar
df.loc[(df.rooms.isnull()) & (~df.amb_tit.isnull())]

#Llenamos los NaN's verificando cuales no tienen valores en rooms
display(df.loc[~df.rooms.isnull()].shape)

#Hacemos el fillna
df.rooms.fillna(df.amb_tit, inplace=True)

df.loc[~df.rooms.isnull()].shape (QUEDAN CON DATOS X REGISTROS)

(47390, 33)

### Trabajos realizados sobre el precio de las propiedades:

In [ ]:
# Dropeamos los planes ahorro
dfprecio = dfprecio.loc[~dfprecio['title'].str.contains(r'cuotas')];

##### Sumarizamos los resultados de los grupos de captura y creamos un nuevo dataframe con esos datos:

In [ ]:
df_precio_title['sumat'] = df_precio_title[1] + df_precio_title[2] + df_precio_title[3]
df_precio_desc['sumad'] = df_precio_desc[1] + df_precio_desc[2] + df_precio_desc[3]
df_precio_title = df_precio_title.iloc[:,[0,4]]
df_precio_desc = df_precio_desc.iloc[:,[0,4]]
df_precio_title['sumat'].fillna(0, inplace = True);

#### Eliminamos NaNs y strings vacios:

In [ ]:
df_precio_title.replace("", 0);
df_precio_desc['sumad'] = df_precio_desc.sumad.str.strip();
df_precio_desc.replace("", 0, inplace=True)
df_precio_desc['sumad'].fillna(0 ,inplace=True)
dfpredesc2 = pd.merge(df_precio_desc, df_precio_title, how='outer', on=df_precio_desc.index)

#### Unificamos los datos obtenidos via regex:

In [ ]:
dfpredesc2['sumad'] = pd.to_numeric(dfpredesc2['sumad'])
dfpredesc2['sumat'] = pd.to_numeric(dfpredesc2['sumat'])
dfpredesc2['final'] = dfpredesc2[['sumad','sumat']].max(axis=1)
dfpredesc2.loc[(dfpredesc2['0_x'].isnull())&(dfpredesc2['0_y'].notnull()),'0_x']=dfpredesc2['0_y'];
df_precio = dfpredesc2.loc[(dfpredesc2['final']!= 0) & (dfpredesc2['final']!= 1)].filter(['0_x','0_y', 'final'])
del df_precio['0_y']
df_precio.rename(columns = {'0_x':'moneda'}, inplace=True)
dfprecio['price'].fillna(df_precio['final'], inplace=True)
dfprecio['currency'].fillna(df_precio['moneda'], inplace=True)

#### Incorporamos los datos obtenidos al Data Frame original:

In [ ]:
dfprecio.rename(columns={'price':'precio_regex','currency':'moneda'}, inplace = True)
df = df.join(dfprecio[['precio_regex', 'moneda']])

### Trabajos realizados sobre la ubicación de las propiedades:

##### Desagregamos los datos contenidos en place_with_parent_names:

In [26]:
#Spliteamos columna place_with_parent_names y nombramos a las nuevas columnas
place_split = df.place_with_parent_names.str.split('|', expand=True).rename({1:'pais', 2:'provincia',
                                                               3:'localidad', 4:'barrio'}, axis=1).drop([0,5,6], axis=1)
place_split.loc[(place_split.barrio == ''), 'barrio'] = np.nan

#Lo adjuntamos al df original
df = df.join(place_split)
df

#Eliminamos las columnas ahora innecesarias 
df.drop(["place_with_parent_names", "Unnamed: 0"], axis=1, inplace=True)

## 3. Quitar todo lo que no nos sirve

En esta etapa de trabajo eliminamos todos aquellos datos que no serán necesarios para la construicción de nuestro modelo de regresión.

##### Eliminamos duplicados:

In [ ]:
# Muestro forma inicial
display(df.shape)

# Buscar índices de registros duplicados (sin tener en cuenta las urls y la 1er columna de autonumerico)
duplicados=df.loc[df.drop("Unnamed: 0",axis=1).drop("properati_url",axis=1).drop("image_thumbnail",axis=1).duplicated(keep="last")]
print("Registros duplicados: {}".format(duplicados["operation"].count()))


# DROP duplicados
df.drop(duplicados.index, inplace=True)
display(df.shape)

##### Eliminamos columnas redundantes que no agregan al modelo de predicción:

In [ ]:
# Eliminamos columnas sin uso
def drop_column(column,df):
    try:
        df.drop(column,axis=1,inplace=True)
        print("Dropeando columna {} ".format(column));
    except:
        print("Columna {} ya dropeada ".format(column)) ;
    
# Muestro forma inicial
display(df.shape)

# properati_url: no tiene ningun uso de valor predictivo
drop_column("properati_url",df)

# image_thumbnail: como se vió antes, hay imágenes duplicadas para departamentos distintos
drop_column("image_thumbnail",df)

# unnamed 0: replica el indice en cada linea
drop_column("Unnamed: 0",df)

# operation: siempre es venta, no suma nada al modelo
drop_column("operation",df)

# country_name: siempres es argentina, no suma a modelo
drop_column("country_name",df)


display(df.shape)

##### Eliminamos observaciones contienen la frase "en pozo" en la descrpción

In [ ]:
#Observamos cuantas observaciones son
df['pozo'] = df.description.str.extract(r'(\ben\spozo)', re.IGNORECASE, expand=True)
df.loc[~(df.pozo.isnull())]

#Eliminamos dichos datos 
df.drop(df.loc[~(df.pozo.isnull())].index, axis=0, inplace=True)

## 4. Calcular las variables dummies y mostrar los resultados